/* Search List components */
.list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 5;
}
.list-view .scroll-bar:vertical, .list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #2c3e50;
    -fx-padding: 8 20 8 15;
    -fx-border-color: #f1f2f6;
    -fx-border-width: 0 0 1 0;
}

.search-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 12px;
    -fx-prompt-text-fill: #7f8c8d;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 2);
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.search-field:focused {
    -fx-background-color: #ffffff;
}

.search-button {
    -fx-background-color: #731EF0;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.search-button:hover {
    -fx-background-color: #af91f4;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.custom-text-field {
    -fx-background-color: #F4F5FA;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10 15 10 15;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #4b465c;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
}

.custom-text-field:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #731EF0;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.1), 10, 0, 0, 0);
}

.add-button {
    -fx-background-color: #7aff12;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.add-button:hover {
    -fx-background-color: #80e240;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.update-button {
    -fx-background-color: #FFB400;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.update-button:hover {
    -fx-background-color: #f6be34;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.clear-button {
    -fx-background-color: #686565;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.clear-button:hover {
    -fx-background-color: #7c7b7b;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.icon-container {
    -fx-background-color: #16B1FF;
    -fx-background-radius: 18;
    /*-fx-padding: 10;*/
    -fx-alignment: CENTER;
}

.icon-container ImageView {
    -fx-fit-width: 25;
    -fx-fit-height: 25;
}
