/* Search List components */
.list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 5;
}
.list-view .scroll-bar:vertical, .list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #2c3e50;
    -fx-padding: 8 20 8 15;
    -fx-border-color: #f1f2f6;
    -fx-border-width: 0 0 1 0;
}

.search-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 12px;
    -fx-prompt-text-fill: #7f8c8d;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 2);
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.search-field:focused {
    -fx-background-color: #ffffff;
}

.custom-text-field {
    -fx-background-color: #F4F5FA;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10 15 10 15;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #4b465c;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
}

.custom-text-field:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #731EF0;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.1), 10, 0, 0, 0);
}

.custom-combo-box {
    -fx-background-color: #F4F5FA;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 0 5 0 10;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #4b465c;
    -fx-border-width: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
}

.custom-combo-box:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #731EF0;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.1), 10, 0, 0, 0);
}

.custom-combo-box .label {
    -fx-text-fill: #4b465c;
}

.custom-combo-box .list-view {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #f0f0f0;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0, 10);
}

.custom-combo-box .list-cell {
    -fx-padding: 10 15;
    -fx-background-color: transparent;
    -fx-text-fill: #4b465c;
}

.custom-combo-box .list-cell:hover {
    -fx-background-color: #731EF0;
    -fx-text-fill: white;
}


.custom-combo-box .list-cell:selected {
    -fx-background-color: #731EF0;
    -fx-text-fill: white;
}


.custom-combo-box .arrow-button {
    -fx-background-color: transparent;
}

.custom-combo-box .arrow {
    -fx-background-color: #4b465c;
}

.number-text-filed{
    -fx-alignment: CENTER-RIGHT;
}

.invoice-text-field {
    -fx-background-color: #F4F5FA;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10 15 10 15;
    -fx-text-fill: #4b465c;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.invoice-text-field:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #731EF0;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.1), 10, 0, 0, 0);
}

.date-picker {
    -fx-background-color: #F4F5FA;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 10 10 10 10;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-text-fill: #4b465c;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
}

.search-button {
    -fx-background-color: #731EF0;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.search-button:hover {
    -fx-background-color: #af91f4;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.searchbar-clear-button {
    -fx-background-color: #7c7b7b;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.searchbar-clear-button:hover {
    -fx-background-color: #686565;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.add-button {
    -fx-background-color: #731EF0;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.add-button:hover {
    -fx-background-color: #af91f4;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.update-button {
    -fx-background-color: #ffc227;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.update-button:hover {
    -fx-background-color: #f6be34;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.clear-button {
    -fx-background-color: #2fdd70;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.3), 10, 0, 0, 4);
}

.clear-button:hover {
    -fx-background-color: #25d366;
    -fx-effect: dropshadow(three-pass-box, rgba(115, 30, 240, 0.4), 12, 0, 0, 5);
    -fx-translate-y: -1;
}

.icon-container {
    -fx-background-color: #16B1FF;
    -fx-background-radius: 18;
    /*-fx-padding: 10;*/
    -fx-alignment: CENTER;
}

.icon-container ImageView {
    -fx-fit-width: 25;
    -fx-fit-height: 25;
}

.text-field:disabled, .text-field[editable="false"] {
    -fx-opacity: 1.0;
    -fx-text-fill: black;
}
