/* TableView styles */
.table-view {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #f1f2f6;
    -fx-border-width: 1;
}

.table-view .column-header {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-padding: 8;
}

.table-view .column-header .label {
    -fx-text-fill: #495057;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #731EF0;
    -fx-background-radius: 15 15 0 0;
}

.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent #f1f2f6 transparent;
}

.table-row-cell:odd {
    -fx-background-color: #f8faff;
}

.table-row-cell:selected {
    -fx-background-color: #af91f4;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.table-cell {
    -fx-padding:2;
    -fx-text-fill: #2c3e50;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
}

.table-view .virtual-flow {
    -fx-background-radius: 0 0 15 15;
}

.table-view .scroll-bar:horizontal {
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}

.table-view .scroll-bar:vertical{
    -fx-opacity: 0;
    -fx-padding: -10;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}